<div class="container">
  {% for movie in movies %}
  <div class="row">
    <div class="col-12">
    {% include 'movie/_movie_card.html.twig' with {'movie': movie} %}
    </div>
    <div class="col-12">
    &nbsp;
    </div>
  </div>
  {% endfor %}
</div>
