<div {{ react_component('Movie/GetCard', {
  movieValue: movie|serialize('json',{groups: 'global_dto_read'}),
  defaultSrc: asset('build/images/file.jpg'),
  }) }}>
  <div class="card">
    <div class="row g-0">
      <div class="card-header">
        <h5>...</h5>
      </div> 
    </div>
  </div>
</div>