<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{path('movie_genre_index')}}">{{'default.website_name'|trans}}</a>
    <form class="d-flex">
      <input class="form-control me-2" id="navbar_movie_search" type="search" placeholder="{{'default.search'|trans}}" aria-label="Search">
    </form>
  </div>
</nav>
